In [1]:
grades = [90, 55, 70, 88, 44, 77]
chekgr=["pass" if n >= 70 else "fil" for n in grades]
print(chekgr)

['pass', 'fil', 'pass', 'pass', 'fil', 'pass']

In [22]:
lst = [c*5 for c in range(0,10)]
print(lst)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
l6 = [x*3 for x in range(0, 11, 2)]
print(l6)

In [23]:
l5 = [x for x in range(0, 11, 2)]
print(l5)

[0, 2, 4, 6, 8, 10]

In [ ]:
l7 = [x*3 for x in range(11) if x%2==0]
print(l7)

In [24]:
lst101=[33,2, 4, 8, 10]

print( 7 in lst101)

False

In [25]:
ll = [c*1 for c in range(0,20) if c%2==1 and c >= 10]
print(ll)

[11, 13, 15, 17, 19]

In [26]:
ls = [n*2 if n%2==0 else n**2  for n in range(1,10) ]
print(ls)

[1, 4, 9, 8, 25, 12, 49, 16, 81]

In [27]:
 my_list = ["one","two","three"]
v= [(i) for i in my_list if i=="two"]
print(v)

['two']

In [3]:
print([num*2 for num in [2,4,6,8,10]])

[4, 8, 12, 16, 20]

In [4]:
heights = [144, 180, 165, 120, 199]
tall = [h for h in heights if h > 160]
print(tall)

[180, 165, 199]

In [5]:
nums = list(range(10))
num_classes = ['even' if num%2 == 0 else 'odd' for num in nums]
print(num_classes)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [6]:
num = [i for i in range(10) if i>=5]
print(num)

[5, 6, 7, 8, 9]

In [23]:
num = [i*3 for i in range(1,10,1)]
print(num)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [19]:
fruits = ["odd {}".format(i) if i%2==0 else " not odd {}".format(i) for i in range(1,11)]
print(fruits)

[' not odd 1', 'odd 2', ' not odd 3', 'odd 4', ' not odd 5', 'odd 6', ' not odd 7', 'odd 8', ' not odd 9', 'odd 10']

In [20]:
some_list = [1,4,7,12,19,22, 23, 26]
new_list = ["{} is even".format(i) if(i%2==0) else "{} It is odd".format(i) for i in some_list]
print(new_list)

['1 It is odd', '4 is even', '7 It is odd', '12 is even', '19 It is odd', '22 is even', '23 It is odd', '26 is even']

In [ ]:

for i in range(2,4):
        for j in range(1,5):
               print(f"{i}+{j}={i+j}")

In [2]:
lsist1=[50,22,3,4,2]
o=[]
#res1=[o.append(i) if i >= 20  else o.append(i**2),lsist1]
res1=[o.append(i) if i >= 20  else o.append(i**2)for i in lsist1]

print(o)

[50, 22, 9, 16, 4]

In [ ]:
transpose = []
for i in range(4):
    # The next 3 lines are for nested list compression
    transpose_row = []
    for row in someMatrix:
        transpose_row.append(row[i])
    transpose.append(transpose_row)
print(transpose)

In [ ]:
someMatrix = [
    [3, 5, 1, 6],
    [1, 0, 9, 5],
    [4, 14, 22, 17],
]
transpose = [[row[i] for row in someMatrix] for i in range(len(someMatrix[0]))]
print(transpose) # [[3, 1, 4], [5, 0, 14], [1, 9, 22], [6, 5, 17]]