In [85]:
import pandas as pd
import numpy as np

How to create a series from a list, numpy array and dict?

In [14]:
mylist = list('a b c')
lis = [1,2,3,4,5,6,7,8]
ser1 = pd.Series(mylist)
ser2 = pd.Series(lis)
ser1,ser2

TypeError: list expected at most 1 argument, got 3

How to convert the index of a series into a column of a dataframe?

In [17]:
ser = pd.Series(lis)
df = ser.to_frame().reset_index()
df.head()

   index  0
0      0  1
1      1  2
2      2  3
3      3  4
4      4  5

How to combine many series to form a dataframe?

In [25]:
s1 = [1,2,3,4,5]
s2 = [6,7,8,9,10]
ser3 = pd.Series(s1)
ser4 = pd.Series(s2)

df = pd.concat([ser3,ser4], axis=1)
df

   0   1
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [40]:
ser3.name= "firs numbers"
ser4.name= "socend numbers"

df = pd.DataFrame({"عمود1":ser3,"عمود2":ser4})
print(df.head())

   عمود1  عمود2
0      1      6
1      2      7
2      3      8
3      4      9
4      5     10

How to assign name to the series’ index

In [31]:
ser3.head()

0    1
1    2
2    3
3    4
4    5
Name: firs numbers, dtype: int64

In [41]:
ser4.head()

0     6
1     7
2     8
3     9
4    10
Name: socend numbers, dtype: int64

How to get the items of series A not present in series B?

In [43]:
ser5 = pd.Series([1, 2, 3, 4, 5])
ser6 = pd.Series([4, 5, 6, 7, 8])
ser5[~ser5.isin(ser6)]

0    1
1    2
2    3
dtype: int64

How to get frequency counts of unique items of a series?

In [50]:
ser7 = pd.Series([4, 5, 6, 7, 8,8,8,5,3,4,6,1])

ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=(20))))

# Solution
ser.value_counts()

d    6
b    4
e    3
a    3
h    2
c    1
f    1
dtype: int64

In [51]:
ser7.value_counts()

8    3
4    2
5    2
6    2
1    1
3    1
7    1
dtype: int64

How to convert a numpy array to a dataframe of given shape?

In [54]:
ser8 = pd.Series(np.random.randint(1,15,15))
ser8

0     14
1     13
2      5
3     12
4      3
5      9
6      1
7     10
8     14
9     13
10    10
11    10
12    11
13    14
14     2
dtype: int32

In [57]:
df = pd.DataFrame(ser8.values.reshape(5,3))
df

    0   1   2
0  14  13   5
1  12   3   9
2   1  10  14
3  13  10  10
4  11  14   2

How to find the positions of numbers that are multiples of 3 from a series

In [86]:
ser10 = pd.Series(np.random.randint(1, 10, 7))
print(ser10)
np.argwhere(ser9 % 3==0)

0    6
1    9
2    1
3    2
4    9
5    6
6    2
dtype: int32

ValueError: Length of passed values is 1, index implies 7.

How to extract items at given positions from a series

In [96]:
ser11 = pd.Series(list("123456789"))
pos = [0,6,4]
ser11.take(pos)

0    1
6    7
4    5
dtype: object

How to calculate the number of characters in each word in a series?

In [97]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

How to rename a specific columns in a dataframe?

In [ ]:
df.columns.values[2] = "CarType"

In [ ]:
df=df.rename(columns = {'Type':'CarType'})

How to check if a dataframe has any missing values?

In [ ]:
df.isnull().values.any()

How to replace missing values of multiple numeric columns with the mean

In [ ]:
df_out = df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(lambda x: x.fillna(x.mean()))