In [5]:
d = name.split()
print(d)

NameError: name 'name' is not defined

In [1]:
firstName = input("Enter your first name")
secondName = input("Enter your second name")
thirdName = input("Enter your Family Name")
print(firstName, secondName, thirdName)

Enter your first nameعمر
Enter your second nameعمر
Enter your Family Nameعمر
عمر عمر عمر

In [12]:
f = firstName + secondName + thirdName
f.split()

['عمر', 'ابراهيم', 'الميلبى']

In [6]:
print(type(secondName))

<class 'str'>

In [2]:
c=13267.319624026732
print("{:.4f}".format(c))

13267.3196

In [ ]:
def mult2(x, y):
    zz = x * y
    return zz
mult2(5, 7)

In [ ]:
def printName(): #This functxion does not return any value
    print("Studnet name is Omar Ibraheem")

In [ ]:
def getAge(): #This function returns an inage value 
    return 25

In [ ]:
#The following functions does not receive any values and does not return any value
def add_nums():
    print(7 + 8)
def printName():
    name = "Tareq Ali Alhmaidat"
    print(name)

In [3]:
#The follwoing function does accept two values 
# and return the sum, subtraction, multiplication and division
def arthOperation(n1, n2):
    sum = n1 + n2
    sub = n1 - n2
    mult = n1 * n2
    div = n1/n2
    return sum, sub, mult, div

In [ ]:
print(arthOperation(90, 20))

In [4]:
arthOperation(10,5)

(15, 5, 50, 2.0)

In [7]:
s,su,m,d = arthOperation(10,5)
print(s,su,m,d)

15 5 50 2.0

In [ ]:
sumV, subV, multV, divV = arthOperation(130, 50)
print(sumV, subV, multV, divV)

In [ ]:
def printName():
    print("print something")
    pass

In [11]:
ii = int(input("number"))
i2 = int(input("number"))

print(arthOperation(ii,i2))

number10
number5
(15, 5, 50, 2.0)

In [13]:
print(5>1)
f = 5 
k= 1

True

In [17]:
print(f>k)
print(f!=k)

True
True

In [ ]:
def calcMark(mark):
    if mark>=95 and mark<=100:
        print("Excellent")
    elif mark>=85:
        print("Very Good")
    elif mark>=75:
        print("Good")
    elif mark>=70:
        print("Pass")
    else:
        print("YOUR ARE FAIL...")

In [ ]:
mark = int(input("Enter your mark:"))
calcMark(mark)

In [19]:
def ca(ma):
    if ma >= 95 and ma<=100:
        print("exce")
    elif ma >=85:
        print("vg")
    elif ma >=75:
        print("g")
    elif ma >= 70:
        print("pass")
    else :
        print("fail")
ma = int(input("your make"))
print(ca(ma))

your make88
vg
None

In [22]:
def calcIncomeTax(salary):
    tax = 0
    if salary>=20000:
        tax = salary * 0.10
    elif salary >=10000 and salary<20000:
        tax = salary * 0.05
    else:
        tax = 0
    return salary - tax

In [25]:
def ccT(sal):
    tax = 0
    if sal >=20000:
        tax = sal*0.10
    elif sal >=10000:
        tax = sal*0.05
    else:
        tax = 0
    return sal - tax      
c = int(input("your salary"))
print(ccT(c))

your salary15000
14250.0

In [13]:
def accp(tal,wig,nat):
    if tal >=170 and wig >=60 and wig <=80 and nat == "saudi":
        print("you are pass the first step")
    else:
        print("fail")
x = int(input("tall"))
y = int(input("weght"))
c = str(input("nanalt"))

print(accp(x,y,c))

tall170
weght65
nanaltsaudi
you are pass the first step
None

In [29]:
i = "7"
if isinstance(i, int):
    #i+=1 
    i = i + 1
elif isinstance(i, str):
    i = int(i)
    i+=2
    #i = i + 2
print(i)

9

In [1]:
for m in range(1, 6, 2):
    print(m)

1
3
5

In [ ]:
    if x%2 == 1: فردي
    if x%2 == 0: زوجي

In [ ]:
sum = 1
for k in range(1, 5):
    sum = sum * k
print("Factorial of 4 is: ", sum)

In [5]:
studentNames = ["Mousa", "Fahad", "Khaled", "Tareq", "Ahmad", "Fahad"]
print(studentNames)
for i in studentNames:
    print(i)
    print(studentNames.count(i))

['Mousa', 'Fahad', 'Khaled', 'Tareq', 'Ahmad', 'Fahad']
Mousa
1
Fahad
2
Khaled
1
Tareq
1
Ahmad
1
Fahad
2

In [4]:
for i in range(0, len(studentNames)):
    print(i,studentNames[i])

0 Mousa
1 Fahad
2 Khaled
3 Tareq
4 Ahmad
5 Fahad

In [6]:
for i in range(len(studentNames)):
        print(i,studentNames[i])

0 Mousa
1 Fahad
2 Khaled
3 Tareq
4 Ahmad
5 Fahad

In [8]:
lst = [1, 2, 45, 4, 4, 5 , 5, 4, 5, 2, 3, 4, 34, 56, 5, 7]

In [16]:
max(lst,key=lst.count)

4

In [20]:
print(min(lst))

1

In [25]:
print(3 in lst),print(3 not  in lst)

True
False

(None, None)

In [26]:
print(100 not  in lst)

True

In [27]:
lst3 = [1, 1, 1, 2, 3, 4, 3]

In [28]:
unique = []
for b in lst3:
    isExist = b not in unique
    if isExist == True:
        unique.append(b)
        print("The occurance of {} is {}".format(b, lst3.count(b)))

The occurance of 1 is 3
The occurance of 2 is 1
The occurance of 3 is 2
The occurance of 4 is 1

In [29]:
for count, name in enumerate(studentNames, start=1):
    print("Student name is {}:{}".format(count, name))
# Note: enumerate fuction returns two values: index and item

Student name is 1:Mousa
Student name is 2:Fahad
Student name is 3:Khaled
Student name is 4:Tareq
Student name is 5:Ahmad
Student name is 6:Fahad

In [22]:
lst = [c*5 for c in range(0,10)]
print(lst)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [ ]:
l5 = [x for x in range(0, 11, 2)]
print(l5)

In [ ]:
l6 = [x*3 for x in range(0, 11, 2)]
print(l6)

In [ ]:
l7 = [x*3 for x in range(11) if x%2==0]
print(l7)

In [28]:
ll = [c*1 for c in range(0,20) if c%2==1 and c >= 10]
print(ll)

[11, 13, 15, 17, 19]

In [2]:
ls = [n*2 if n%2==0 else n**2  for n in range(1,10) ]
print(ls)

[1, 4, 9, 8, 25, 12, 49, 16, 81]

In [ ]:
def near_thousand(n):
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))
print(near_thousand(2000))

In [ ]:
mum = int(input("insert number:"))
mod = mum % 2
if mod > 0:
    print("odd number")
else:
    print("This is an even number")

In [24]:
import statistics 
from statistics import mode
import collections

In [23]:
    L1 = [1, 2, 2, 3, 1, 4, 2]

def feu(ist):
     return mode(ist)

print(feu(L1))

2

In [28]:
def most_freq(List):
    ot = collections.Counter(List)
    print("The count is: ", ot.most_common(1)[0][1])
    return ot.most_common(1)[0][0]
# The most_common function returns a 2D list with 1 row and 2 cols
# [0][0] contains the most frequent number
# [0][1] contins the count of the most frequent number 
L1 = [1, 2, 2, 3, 1, 4, 2, 2]
print("The most frequent number is: ", most_freq(L1))

The count is:  4
The most frequent number is:  2

In [ ]:
str_x = "Mohammed is a good developer. Mohammed is a writer"
print(str_x.count("Mohammed"))
print(str_x.count("good"))

In [ ]:
l2 = [44, 2, 8, 9 ,2 ,3 , 4, 3, 3]
l2.count(2)

In [ ]:
for n in l2:
    print(l2.count(n))

* لاجل التحقق اذ عنصر ما موجود في لست معينة

* lambda

In [ ]:
w=[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

s=lambda d:{i:d.count(i) for i in w}
print(s(w))

In [ ]:
las = list(map(lambda n:n*5,new))
print(las)

In [11]:
lst21=[1,25,26,100,7,8,10]

even_nums = list(filter(lambda x: x%2 == 0 and x > 21, lst21))

print(even_nums)

[26, 100]

In [ ]:
new = [1,2,3,4,5,6,7,8]
lam = list(filter(lambda n: n%2==0,new))
print(lam)

In [ ]:
lams = list(map(lambda n:n*n, filter(lambda n:n%2==1,new)))
print(lams)                        #filter(lambda x:x%2!=0, nums

In [ ]:
avr = lambda x ,c ,b :(x+c+b)/3
print(avr(5,5,5))

In [ ]:
lst101=[33,2, 4, 8, 10]

print( 7 in lst100)

In [7]:
def myFun1(a,b):
    return a+b+10

x = lambda a, b : a+b+10
print(x(5,20))

35

In [10]:

names = ['Fahad', 'Majed', 'Abdulaziz', 'Khaled', 'Yasser', 'Ali', 'Mohmmad']


res1 = list(filter(lambda name: name if len(name)==6 else '', names))
print(res1)

['Khaled', 'Yasser']

In [ ]:
def myFun2(lst):
    res=[]
    for l in lst:
        res.append(l**3)
    return res
lst=[2,3,5,7]
print(myFun2(lst))


numberlist=[2,3,5,7]
res1=list(map(lambda x:x**3, numberlist))
map
print(res1)

* Convert the following function into

In [8]:
grades = [90, 55, 70, 88, 44, 77]
chekgr=["pass" if n >= 70 else "fil" for n in grades]
print(chekgr)

['pass', 'fil', 'pass', 'pass', 'fil', 'pass']

In [8]:
 my_list = ["one","two","three"]
v= [(i) for i in my_list if i=="two"]
print(v)

['two']

In [ ]:
print([num*2 for num in [2,4,6,8,10]])

In [ ]:
heights = [144, 180, 165, 120, 199]
tall = [h for h in heights if h > 160]
print(tall)
### Results

In [ ]:
nums = list(range(10))
num_classes = ['even' if num%2 == 0 else 'odd' for num in nums]
print(num_classes)

In [ ]:
num = [i for i in range(10) if i>=5]
print(num)

In [ ]:
num = [i for i in range(50) if i%2==0 if i%3==0 if i%3==0]
print(num)

In [17]:
fruits = ["زوجي {}".format(i) if i%2==0 else " فردي {}".format(i) for i in range(1,11)]
print(fruits[::-1])

['زوجي 10', ' فردي 9', 'زوجي 8', ' فردي 7', 'زوجي 6', ' فردي 5', 'زوجي 4', ' فردي 3', 'زوجي 2', ' فردي 1']

In [19]:
some_list = [1,4,7,12,19,22, 23, 26]
new_list = ["{} is even".format(i) if(i%2==0) else "{} It is odd".format(i) for i in some_list]
print(new_list)

['1 It is odd', '4 is even', '7 It is odd', '12 is even', '19 It is odd', '22 is even', '23 It is odd', '26 is even']

In [ ]:
list =[omar ]
for i in range(2,4):
        for j in range(1,5):
               print(f"{i}+{j}={i+j}")

In [18]:

for i in range(2,4):
        for j in range(1,5):
               print(f"{i}+{j}={i+j}")

2+1=3
2+2=4
2+3=5
2+4=6
3+1=4
3+2=5
3+3=6
3+4=7

In [20]:
someMatrix = [
    [3, 5, 1, 6],
    [1, 0, 9, 5],
    [4, 14, 22, 17],
]
transpose = [[row[i] for row in someMatrix] for i in range(len(someMatrix[0]))]
print(transpose) # [[3, 1, 4], [5, 0, 14], [1, 9, 22], [6, 5, 17]]

[[3, 1, 4], [5, 0, 14], [1, 9, 22], [6, 5, 17]]

In [21]:
transpose = []
for i in range(4):
    # The next 3 lines are for nested list compression
    transpose_row = []
    for row in someMatrix:
        transpose_row.append(row[i])
    transpose.append(transpose_row)
print(transpose)

[[3, 1, 4], [5, 0, 14], [1, 9, 22], [6, 5, 17]]

In [9]:
lsist1=[50,22,3,4,2]
o=[]
#res1=[o.append(i) if i >= 20  else o.append(i**2),lsist1]
res1=[o.append(i) if i >= 20  else o.append(i**2)for i in lsist1]

print(o)

[50, 22, 9, 16, 4]